<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body  class="area">
<section>
    <div class="operations-area-div">
        <div><h1>Type speed test</h1></div>
        <div><h3 id="typed" class="typed_text" style="font-family:sans-serif">Number of words typed: 0</h3></div>
        <div style="padding-top: 10px; padding-bottom: 10px;"><textarea id="text" style="padding: 10px" class="text-area" disabled></textarea></div>
        <span style="font-family: sans-serif; font-size: 20px;" id="countdown"></span>
        <div  style="padding-top: 10px; padding-bottom: 5px;"><input  id="input" class="input" disabled></div>
        <div><button id="button" onclick="timer()">Start</button></div>

    </div>
</section>
<footer style="text-align: center">
    <div><span>By </span><a href="www.tabotbrown"> Rawllings</a></div>
</footer>

<script src="../static/js/main.js"></script>

</body>
</html>